 .u-section-1 {
  min-height: 1118px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 1118px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 436px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -682px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -511px;
    width: 820px;
    margin-left: calc(((100% - 720px) / 2) + -55px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -384px;
    margin-bottom: 60px;
    margin-left: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  min-height: 100vh;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 487px;
  margin-top: 0;
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 702px;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 702px;
  }
}